/* コメントエリアの一番外側要素 *//* 透明にする 透明度は右の数字を0-1の間で opacityで指定すると子要素まで透明になってコメントが見づらい*/
/*
[class^="TVContainer__right-comment-area___"]{
    background: rgba(255, 255, 255, 0.2);
}
*/
 /* コメントエリア内のdiv,form要素 */
/*
[class^="TVContainer__right-comment-area___"] div,[class^="TVContainer__right-comment-area___"] form{
    background: rgba(255, 255, 255, 0);完全透明
}
*/
/* コメントフォーム */
/*
[class^="TVContainer__right-comment-area___"] > div > form[class*="styles__comment-form___"] > div{
    background: rgba(255, 255, 255, 0.4);
    z-index: 20;
}
*/
/*テキストボックス*/
/*
[class*="styles__comment-form___"] textarea {
    opacity: 0.5;
}
*/
/* コメント本文 *//* コメントの文字色 *//*コメントの縁取り 4つのblackを好きな色にすると縁の色を変更できます。 */
/*
[class^="TVContainer__right-comment-area___"] [class^="styles__message___"] {
    color: white;
    font-weight: bold;
    text-shadow: black 1px 1px 0px, black -1px 1px 0px, black 1px -1px 0px, black -1px -1px 0px;
    opacity: 0.8;
    float: left;
}
*/
/* コメント時間 */
/*
[class^="styles__time___"] {
    color: black;
    float: right;
}
[class*="styles__comment-list-wrapper___"] > div {
    overflow: auto;
}
*/
.movingComment {/* 横に流れるコメント */
    color: white;
    font-weight: bold;
    font-size: xx-large;
    white-space: nowrap;
    text-shadow: black 1px 1px 0px, black -1px 1px 0px, black 1px -1px 0px, black -1px -1px 0px;
    opacity: 0.8;
    left: 100%;
}
.movingCommentCSS {/* CSSで横に動かす */
    transition: left 16s linear;
    left: -100%;
}

[class*="styles__footer___"] { /* 黒帯バー下 */
    opacity: 0.5;
}
[class*="styles__header___"] { /* 黒帯バー上 */
    opacity: 0.5;
}
[class*="styles__balloon-"] { /* 緑色吹き出し非表示 */
    display:none;
}
/* 古いコメントを非表示 onairpage.jsで設定
[class^="TVContainer__right-comment-area___"] [class*="styles__comment-list-wrapper___"]>* {
    overflow: hidden!important;
}*/
/* コメント1行化用
[class^="TVContainer__right-comment-area___"] [class*="styles__comment-list-wrapper___"]>*>div {
    clear: both;
    padding: 1px 0px 1px 16px;
    border-top-color:rgba(255,255,255,0.5);
}
*/
body{
    overflow-x: hidden;/*コメント流したときにスクロールバーが出るのを防止*/
}
[class*="styles__continue-btn___"] { /* 新着コメのボタン */
/*    display:none;*/
    opacity: 0.5;
}
[class*="styles__side___"] button{ /* 画面右の番組表ボタンと番組移動ボタン */
    opacity:0.5;
    z-index:20;
}
[class*="styles__side___"] { /* 画面右の番組表ボタンと番組移動ボタンをコメント欄の上からクリックできるように */
    z-index:20;
}
#NGConfig { /*「AbemaTV, ニコニコ風コメントスクロール」ユーザースクリプトのNG設定画面　コメ欄とかぶらないように*/
    z-index: 20;
    opacity: 0.7;
}
.toast {
    z-index: 100;
    background-color: black;
    color: white;
    opacity: 0.8;
    border-radius: 20px;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-left: -200px;
    width: 400px;
}
.toast p{
    margin: 10px;
}
/* 音量ゲージ下部の吹き出しを下へ伸ばす */
[class*="styles__footer___"] [class^="styles__volume___"] [class^="styles__slider-container___"]:after{
    border-top-width:15px;
}
/* その他メニューがコメ欄の下にくぐらないように */
[class*="styles__hover-contents___"]{
    z-index: 15;
}
/* z-indexが効かない→音量とフルスクリーンボタンがコメ欄をくぐらないように 
[class*="styles__full-screen___"] *,[class*="styles__volume___"] *{
    z-index: 15;
}*/
/* 左下からpopしてくるボタンの処理
[class^="TVContainer__ad-reserve-button___"] {
    transform:translateX(-170px);
}
*/
